In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import wrangle as w
import model as m
import prepare as p
import preprocess as pp
import random

from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [2]:
df = w.clean_zillow()

df.head()

retrieving data

   bedrooms  bathrooms  square_ft  tax_value  year       county
0         4        3.5       3100    1023282  1998       Orange
1         2        1.0       1465     464000  1967      Ventura
2         3        2.0       1243     564778  1962       Orange
3         4        3.0       2376     145143  1970  Los Angeles
4         4        3.0       2962     773303  1950  Los Angeles

df.transactiondate.max() = '2017-09-25'

In [3]:
df.shape

(52315, 6)

In [4]:
df.isna().sum()

bedrooms     0
bathrooms    0
square_ft    0
tax_value    0
year         0
county       0
dtype: int64

In [6]:
df.columns

Index(['bedrooms', 'bathrooms', 'square_ft', 'tax_value', 'year', 'county'], dtype='object')